
.playlist {
    background-size: cover;
    background-position: center;
    border-radius: 10px; 
    padding-top: 25%;
   
}
.playlist-title {
    font-family: 'Petrona', serif;
    font-weight: bold;
}

.playlist-desc{
    line-height: 1.5;
    font-weight: lighter;
    font-style: italic;
    font-size: 0.875rem;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}