.CardImg_container{
    max-height: 150px;
    overflow: hidden;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.card-link {
    text-decoration: none;
    color: chocolate;
    font-weight: bold;
}