

.youtube-frame {
    max-width: 100%;
    width: 90vw;
    height: calc((90vw*9)/16);
}
@media screen and (min-width: 760px){

    .youtube-frame {
        width: 60vw;
        max-width: 700px;
        height: calc((60vw*9)/16);
        max-height: 390px;
    }
}